<div class="container-fluid" ng-controller="adminController">

<div ng-show="!isSuperAdmin"><span class="pull-left">{{authMsg}}</span></div>

<div ng-show="isSuperAdmin">

<div class="row-fluid">
	 <ul>
	  <li ng-class="{ active: isActive('/admin')}"><a href="#/admin">Download Reports</a></li>
	  <li ng-class="{ active: isActive('/userManagement')}"><a href="#/userManagement">User management</a></li>
	</ul>
</div>

<div id="loading_Overlay"></div>
	<div id="loading_img">
		<img src="/survey/images/loading.gif" />
	</div>
		<br/><br/>
	
	<div class="row-fluid marginDiv">
                            <p class="show-input input-group pull-left">
                                <input type="text" class="pull-left" uib-datepicker-popup="MM/dd/yyyy" ng-model="fromDate" is-open="dpOpenStatus.withoutRequired" />
                                <span class="pull-left">
					                <button type="button" class="cal_icon btn btn-default su_cal_btn" ng-click="setDpOpenStatus('withoutRequired', $event)">
					                  <i class=" glyphicon glyphicon-calendar"></i>
					                </button>
             					</span>&nbsp;&nbsp;&nbsp;&nbsp;
                            </p>
							
							<p class="show-input input-group pull-left">
                                <input type="text" class="pull-left" uib-datepicker-popup="MM/dd/yyyy" ng-model="toDate" is-open="dpOpenStatus.withoutRequired1" />
                                <span class="pull-left">
					                <button type="button" class="cal_icon btn btn-default su_cal_btn" ng-click="setDpOpenStatus('withoutRequired1', $event)">
					                  <i class=" glyphicon glyphicon-calendar"></i>
					                </button>
             					</span>&nbsp;&nbsp;
                            </p>
							
		<button class="btn btn-primary" ng-click="searchSurvey()">Search</button>&nbsp;&nbsp;
		<button class="btn btn-primary" ng-click="reportDownload()">Download Report</button>
		<br/><br/>
		<div class="row-fluid marginDivPie container">
			<div class="col-md-6" google-chart chart="myChartObjectSR" on-select="srSelected(selectedItem)" style="height:400px; width:25%;"></div>
			<div class="col-md-6" google-chart chart="myChartObjectSTR" on-select="strSelected(selectedItem)" style="height:400px; width:25%;"></div>			
		</div>
	
		<br/><br/>
		<div class="container gridStyle" ng-grid="gridOptions"></div>
	 
		</div>
	</div>
</div>