<div class="container-fluid" ng-controller="surveyController">

	<div id="loading_Overlay"></div>
	<div id="loading_img">
		<img src="images/loading.gif" />
	</div>

	<div class="clear_both">
		<span>Welcome {{username}}</span>&nbsp; &nbsp;
	</div>

	<div class="clear_both">
		<span>Customer Satisfaction Survey</span>&nbsp; &nbsp;
	</div>

	<div class="clear_both">
		<span>Customer Satisfaction Survey related to resolution of
			issue</span>&nbsp; &nbsp;
	</div>

	<div class="clear_both">
		<span>Customer Satisfaction Survey related to resolution of
			issue</span>&nbsp; &nbsp;
	</div>

	<div class='alert sensitive-info-banner'>

		Do not respond to any surveys asking for sensitive information such as
		passport numbers, employee performance feedback etc. If you have any
		questions <a
			href='https://w.amazon.com/index.php/Trawler#Trawler.27s_Data_Policy'
			target='_blank'>visit our wiki</a> and please report any surveys
		which violate this policy by cutting us a ticket with <a
			href='https://tt.amazon.com/quicklink/Q000690802' target='_blank'>this
			quicklink</a>

	</div>

	<div>		
			
			<div class="col-md-3 greyText" >
				<label class="lable-align">1: What Builder Tools Product was your issue related to? choose	one</label>
						
				<label> <input type="radio" value = "1" ng-model="surveyPojo.issue">A</label><br/> 
				<label> <input type="radio" value = "2" ng-model="surveyPojo.issue">B</label><br/>
				<label> <input type="radio" value = "3" ng-model="surveyPojo.issue">C</label><br/>
				<label> <input type="radio" value = "0" ng-model="surveyPojo.issue">Others</label><br/>
			</div>
			
			<div class="col-md-3 greyText" >
				<label class="lable-align">2. Issue Support: How satisfied were you on a scale of 1-4,
					(1 being least satisfied and 4 being most satisfied) with the following:</label>
						
				<table class="table table-striped grid-question-table"
					style="width: 55%">
					
					<thead>
						<tr>
							<th></th>
							<th style="text-align: center;">1 - Much Worse than I would
								like. Very Disappointed :[</th>
							<th style="text-align: center;">2 - Worse than I would like
								and not happy :(</th>
							<th style="text-align: center;">3 - Happy but still room for
								improvement :)</th>
							<th style="text-align: center;">4 - Awesome :]</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td>With the teams overall handling of your issue?</td>
							<td class="centered"><input type="radio"
								ng-model="surveyPojo.servicerating" id="2_0_0" value="1" /></td>
							<td class="centered"><input type="radio"
								ng-model="surveyPojo.servicerating" id="2_0_1" value="2" /></td>
							<td class="centered"><input type="radio"
								ng-model="surveyPojo.servicerating" id="2_0_2" value="3" /></td>
							<td class="centered"><input type="radio"
								ng-model="surveyPojo.servicerating" id="2_0_3" value="4" /></td>
						</tr>

						<tr>
							<td>With the time it took to resolve your issue?</td>
							<td class="centered"><input type="radio"
								ng-model="surveyPojo.servicetimetating" id="2_1_0" value="1" /></td>
							<td class="centered"><input type="radio"
								ng-model="surveyPojo.servicetimetating" id="2_1_1" value="2" /></td>
							<td class="centered"><input type="radio"
								ng-model="surveyPojo.servicetimetating" id="2_1_2" value="3" /></td>
							<td class="centered"><input type="radio"
								ng-model="surveyPojo.servicetimetating" id="2_1_3" value="4" /></td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<div class="col-md-3 greyText" >
				<label class="lable-align">3. Please provide any other comments about the support of your issue or about the product. <small>(click and drag in the
						bottom right to resize the text area)</label>
				<textarea id="3" rows="6" name="feedback" ng-model = "surveyPojo.feedback" style="width: 800px;"></textarea>
			</div>
			
			<div class="col-md-3 greyText" >
				<label class="lable-align">4. [Optional] Link to Issue or TT related to this feedback.</label>
				<input type="text" name="optional" ng-model = "surveyPojo.optional" value="" /> <br>
			</div>
			
			<div>
			   <button class="btn btn-primary" ng-click="doSubmitSurvey()">Submit</button>
			</div>
		

	</div>
</div>